<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
	<div class="juego-container">
		<form action="/juego" method="post">

		<% if @es_activo %>
		<input type="submit" value="Tirar dados" class="btn-tirar-dados"/>
		<% end %>

		</form>

		<% if @dados %>
		<div class="dados-container">
			
			<% @dados.each do |dado| %>
			<div class="resultado">
				<img qa="icono" class="icono has-border <%= dado['color'] %>" src="<%= "images/#{dado['icono']}.png" %>">
			</div>
			<% end %>
		</div>
		<% end %>

		<div class="resultado-mensaje"><%= @resultado_tiro %></div>

		<div class="puntaje">
		
		<div class="resistencia-container">
			<div class="resistencia-puntos" style="width:<%= @resistencia * 33 + 1%>%">
			</div>
			<div class="resistencia-contador">
				<%= @resistencia %> / 3 de resistencia
			</div>
		</div>
		
		<div class="cerebros-container">
			<div class="cerebros-puntos" style="width:<%= @cerebros * 10%>%">
			</div>
			<div class="cerebros-contador">
				<%= @cerebros %> / 10 cerebros
			</div>
		</div>

		<% if !@es_activo %>
		<div class="resultado-juego">
			<h2><%= @resultado_juego %></h2>
			<a href='/juego' class="volver-a-jugar">
				<input type="button" value="Volver a jugar!" />
			</a>
		</div>
		<% end %>
	</div>
</body>
