<form action="/juego" method="post">

<% if @es_activo %>
<input type="submit" value="Tirar dados" />
<% end %>

</form>
<% if @resultado %>
<div class="resultado">
<span>El resultado es: </span><span class="valor"><%= @resultado %></span> <br>
<img class="icono" src="<%= "images/#{@resultado}.png" %>">
</div>
<% end %>

<div class="puntaje">
<dl>
	<dt>Tus vidas: </dt>
	<dd class="vidas"><%= @vidas %> vidas</dd>
	
	<dt>Tus cerebros: </dt>
	<dd class="cerebros"><%= @cerebros %> cerebros</dd>
</dl>
</div>

<% if !@es_activo %>
<div class="resultado-juego">
	<h2><%= @resultado_juego %></h2>
</div>
<% end %>
